<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Pontano+Sans&display=swap" rel="stylesheet">

  <head>
    <title>VintageVinyl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
    <%= render 'partials/navbar'%>

       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
